.homeMusic__container {
    width: 13rem;
    background-color: var(--color-2);
    padding: 1.5rem 2rem 2rem 2rem;
    margin: 1.5rem;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}

.homeMusic__img {
    width: 6rem;
    border-radius: 50% 5% 50% 50%;
    position: absolute;
    top: -20%;
    right: -15%;
    box-shadow: 0px 0px 12px 3px var(--color-1);
}

.homeMusic__title {
    color: var(--color-3);
    font-weight: 200;
    text-align: center;
    font-size: 1.5rem;
}

.homeMusic__singer {
    color: var(--color-3);
    font-weight: 200;
    text-align: left;
    margin-bottom: .7rem;
    font-size: 1rem;
}

@media (max-width:500px) {

    .homeMusic__container {
        background-color: var(--color-2);
        width: 10rem;
        border-radius: 1.5rem;
        padding: 1rem;
        margin: 1.5rem .8rem;
        transform: scale(.9);
    }

    .homeMusic__singer {
        font-size: 1rem;
    }

    .homeMusic__img {
        width: 4rem;
        border-radius: 50% 5% 50% 50%;
        position: absolute;
        top: -20%;
        right: -15%;
        box-shadow: 0px 0px 8px 2px var(--color-1);
    }
}

@media (max-width:430px) {
    .homeMusic__container {
        margin: 1.5rem .5rem;
    }
}