* {
  font-family: "noto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-1);
}

a {
  color: black;
  text-decoration: none;
}

:root {
  color-scheme: dark;
  --color-1: #513b67;
  --color-2: #ececec;
  --color-3: #000;
  --color-4: #ebc400;
}